.carCardWrapper {
  width: 100%;
  max-width: 1200px;
}

.carRaceTrack {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.track {
  position: absolute;
  top: 62%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
}

.car {
  position: relative;
  width: 50px;
  z-index: 1;
}